<%- model_class = LegoSet -%>
<div class="container">
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => LegoSet %></h1>
</div>
<%= render :partial => 'form' %>
</div>